<app-navigation></app-navigation>
<main>
  <div class="banner">
    <div class="main-content">
      <p class="primary-header"><span>AOA</span> Flights For You</p>
      <p class="banner-caption">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis
        aut, nam provident nihil fuga!
      </p>
      <button class="primary">
        Read More
      </button>
    </div>
  </div>
  <div class="find-doctor">
    <div class="find">
      <h3>FIND A DOCTOR</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="doc-tab">
        <label for="">Name</label>
        <p>Lorem, ipsum dolor.</p>
    </div>
    <div class="doc-tab">
        <label for="">Name</label>
        <p>Lorem, ipsum dolor.</p>
    </div>
    <button class="adv-one">Search</button>
    <p>Advanced Search</p>
  </div>
</main>
